
<!--/ Contact Star /-->
<section class="contact">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="contact-map box">

        </div>
      </div>
      <div class="col-sm-12 section-t8">
        <div class="row">
          <div class="col-md-7">
            <form class="form-a contactForm" action="" method="post" role="form">
              <div id="Ajouter">Your message has been sent. Thank you!</div>
              <div id="errormessage"></div>
              <div class="row">
                <div class="col-md-6 mb-3">
                  <div class="form-group">


                    <input type="text" name="name" class="form-control form-control-lg form-control-a" placeholder="Votre nom" data-rule="minlen:4" data-msg="Please enter at least 4 chars"
                           [(ngModel)]="transporteur.nom" [ngModelOptions]="{standalone:true}">
                    <div class="validation"></div>
                  </div>
                </div>
                <div class="col-md-6 mb-3">
                  <div class="form-group">
                    <input name="prenom" type="text" class="form-control form-control-lg form-control-a" placeholder="Votre prenom" data-rule="minlen:4" data-msg="Please enter at least 4 chars"
                           [(ngModel)]="transporteur.prenom" [ngModelOptions]="{standalone:true}" >
                    <div class="validation"></div>
                  </div>
                </div>
                <div class="col-md-12 mb-3">
                  <div class="form-group">
                    <input type="text" name="cin" class="form-control form-control-lg form-control-a" placeholder="CIN" data-rule="minlen:4" data-msg="Please enter at least 8 chars of cin"
                           [(ngModel)]="transporteur.cin" [ngModelOptions]="{standalone:true}">
                    <div class="validation"></div>
                  </div>
                </div>

                <div class="col-md-12 mb-3">
                  <div class="form-group">
                    <input type="number" name="num" class="form-control form-control-lg form-control-a" placeholder="NUMERO" data-rule="minlen:4" data-msg="Please enter at least 8 chars of cin"
                           [(ngModel)]="transporteur.num" [ngModelOptions]="{standalone:true}">
                    <div class="validation"></div>
                  </div>
                </div>
                <section>
                  <div>
                    <form>
                      <select class="custom-select">
                        <option selected>All</option>
                        <option value="Disponible">Disponible</option>
                        <option value="Non-Disponible"> Non-Disponible</option>
                      </select>
                    </form>
                  </div>
                </section>

                <div class="col-md-12">
                  <button type="button" class="btn btn-a" (click)="updatetransporteur(transporteur)">update</button>
                </div>
              </div>
            </form>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>

<!--/ Contact End /-->







