<section class="intro-single">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-8">
        <div class="title-single-box">
          <h1 class="title-single">Book Cover Deisgn</h1>
          <span class="color-text-a">News Single.</span>
        </div>
      </div>
      <div class="col-md-12 col-lg-4">
        <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="#">Home</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              Book Cover Deisgn
            </li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</section>
<!--/ Intro Single End /-->

<!--/ News Single Star /-->
<section class="news-single nav-arrow-b">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="news-img-box">
          <img  src="{{ '/assets/img/'+ sujet.image }}" alt="" class="img-fluid" style="width: 800px;height:400px;"  >
        </div>
      </div>
      <div class="col-md-10 col-lg-8 ">
        <div class="post-information">
          <ul class="list-inline text-center color-a">
            <li class="list-inline-item mr-2">
              <strong>Author: </strong>
              <span class="color-text-a">Morgan Jimenez</span>
            </li>
            <li class="list-inline-item mr-2">
              <strong>Category: </strong>
              <span class="color-text-a">Travel</span>
            </li>
            <li class="list-inline-item">
              <strong>Date: </strong>
              <span class="color-text-a">{{sujet.description }}</span>
            </li>
          </ul>
        </div>
        <div class="post-content color-text-a">
          <p class="post-intro">
            <strong>{{sujet.titre }}</strong>
          </p>
          <p>
            {{sujet.description }}
          </p>
        </div>
      </div>
      <app-list-commentaire [commentslist]="sujet.commentaires"> </app-list-commentaire>
    </div>
  </div>
</section>
